<html lang="en">
  <div align="center">
    <div align="center">
        <h1>Flask-CRUD Application</h1>
      </div>
    <h3>Add movie</h3>
    <form method="POST" action="/">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>

    <h3>Movies</h3>
    <table>
      {% for movie in movies %}
        <tr>
          <td>
            {{movie.title}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{movie.title}}" name="oldtitle">
              <input type="text" value="{{movie.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{movie.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</html>
